<div class="scheduling-filters-wrapper">
  <h2 pdk-typography="heading-medium">Search for a hearing slot</h2>
  <form
    #form="ngForm"
    data-test-id="schedulingFiltersForm"
    pdk-form
    novalidate
    (errors)="errors.emit($event)"
    (validSubmit)="handleFiltersSubmit()"
  >
    <pdk-grid container>
      <pdk-grid one-third>
        <pdk-form-field
          [label]="
            'Operational unit' +
            (formModel.organisationUnit &&
            formModel.organisationUnit !== organisationUnitPlaceholder
              ? ' (optional)'
              : '')
          "
        >
          <pdk-select
            [(ngModel)]="formModel.oucodeL2Code"
            [name]="'oucodeL2Code'"
            placeholder="Choose operational unit"
            justified
            (ngModelChange)="handleOperationalUnitChanged($event)"
            [options]="operationalUnitOptions"
            [required]="!formModel.organisationUnit"
          >
          </pdk-select>
        </pdk-form-field>
      </pdk-grid>
      <pdk-grid one-third>
        <pdk-form-field label="Court">
          <cpp-organisation-unit-autosuggest
            name="organisationUnit"
            [filterBy]="filterByOperationalUnit"
            [(ngModel)]="formModel.organisationUnit"
            (ngModelChange)="handleCourtChanged()"
            [placeholder]="organisationUnitPlaceholder"
            [required]="!formModel.oucodeL2Code"
          >
          </cpp-organisation-unit-autosuggest>
        </pdk-form-field>
      </pdk-grid>
      <pdk-grid one-third>
        <pdk-form-field label="Courtroom">
          <pdk-select
            [(ngModel)]="formModel.courtRoomId"
            [name]="'courtRoomId'"
            placeholder="All"
            justified
            [options]="utils.getCourtroomOptions(formModel.organisationUnit)"
          >
          </pdk-select>
        </pdk-form-field>
      </pdk-grid>
    </pdk-grid>
    <pdk-grid container>
      <pdk-grid one-third>
        <pdk-form-field label="Booking type" labelType="small">
          <pdk-radio-group
            name="bookingType"
            [ngModelOptions]="{ standalone: true }"
            small
            [(ngModel)]="formModel.isSlotBased"
            (ngModelChange)="bookingTypeChange($event)"
          >
            <pdk-radio-button [value]="true">Slot based</pdk-radio-button>
            <pdk-hint style="display: block">For example, PSR</pdk-hint>
            <pdk-radio-button [value]="false">Duration based</pdk-radio-button>
            <pdk-hint style="display: block">For example, Trial</pdk-hint>
            @if (enableMultiDay && !formModel.isSlotBased) {
            <pdk-radio-conditional>
              <pdk-form-field label="Search for a multi-day hearing?" labelType="small">
                <pdk-radio-group
                  name="multiday"
                  small
                  [ngModelOptions]="{ standalone: true }"
                  [(ngModel)]="formModel.isMultiday"
                  (ngModelChange)="updateCourtSession($event)"
                >
                  <pdk-radio-button [value]="true">Yes</pdk-radio-button>
                  <pdk-radio-button [value]="false">No</pdk-radio-button>
                  @if (formModel.isMultiday === false) {
                  <pdk-radio-conditional>
                    <pdk-form-field label="Hearing duration" labelType="small">
                      <estimate-input
                        hours-enabled
                        [minMinutesValue]="2"
                        [(ngModel)]="formModel.availableDurationMins"
                        name="availableDurationMins"
                        required
                      >
                      </estimate-input>
                    </pdk-form-field>
                  </pdk-radio-conditional>
                  }
                </pdk-radio-group>
              </pdk-form-field>
            </pdk-radio-conditional>
            }
          </pdk-radio-group>
        </pdk-form-field>
      </pdk-grid>
      <pdk-grid one-third>
        <pdk-form-field label="Business type (optional)">
          <cpp-rota-business-type-select
            [(ngModel)]="formModel.businessType"
            [name]="'businessType'"
            [filterBy]="formModel.isSlotBased ? slotFilterFn : durationFilterFn"
            [placeholder]="
              formModel.isSlotBased
                ? 'All slot based business types'
                : 'All duration based business types'
            "
            justified
          ></cpp-rota-business-type-select>
        </pdk-form-field>
      </pdk-grid>
    </pdk-grid>
    <pdk-grid container>
      <pdk-grid>
        <pdk-grid one-third>
          <pdk-form-field label="Session type">
            <pdk-radio-group
              name="courtSession"
              inline
              small
              [(ngModel)]="formModel.courtSession"
              [options]="courtSessionOptions"
              [hidden]="formModel.isMultiday"
            >
            </pdk-radio-group>
            @if (formModel.isMultiday) {
            <span style="margin-top: 20px; display: block"> All day </span>
            }
          </pdk-form-field>
        </pdk-grid>
        <pdk-grid one-third>
          <pdk-form-field label="Panel">
            <pdk-radio-group
              name="panel"
              inline
              small
              [(ngModel)]="formModel.panel"
              [options]="panelOptions"
              required
            >
            </pdk-radio-group>
          </pdk-form-field>
        </pdk-grid>
      </pdk-grid>
    </pdk-grid>
    <pdk-grid container>
      <pdk-grid one-third>
        <pdk-form-field label="Start date" [errorMessages]="startDateErrorMessages">
          <div class="scheduling-filters__start-date">
            <pdk-date-input
              #sessionStartDate="ngModel"
              [(ngModel)]="formModel.sessionStartDate"
              name="sessionStartDate"
              [minDate]="minimumDate"
              required
              picker
            >
            </pdk-date-input>
            <div class="scheduling-filters__start-date-conjunction" pdk-padding-left="2">to</div>
          </div>
          @if (sessionStartDate.valid && sessionStartDate.value) {
          <pdk-inset-text pdk-margin-bottom="0" pdk-margin-top="3" role="status" required>
            Selected day:&nbsp;
            <span>{{ sessionStartDate.value | date : 'EEEE' }}</span>
          </pdk-inset-text>
          }
        </pdk-form-field>
      </pdk-grid>
      <pdk-grid one-third>
        <pdk-form-field
          [errorMessages]="[
            {
              rule: 'sessionEndDate',
              message: 'End date must be later than start date'
            }
          ]"
          label="End date"
        >
          <pdk-date-input
            #sessionEndDate="ngModel"
            [(ngModel)]="formModel.sessionEndDate"
            name="sessionEndDate"
            [minDate]="sessionStartDate.value"
            picker
            data-test-id="sessionEndDate"
          >
          </pdk-date-input>

          @if ( sessionEndDate.value && !sessionEndDate.errors?.dateExists &&
          !sessionEndDate.errors?.dateFormat ) {
          <pdk-inset-text pdk-margin-bottom="0" pdk-margin-top="3" role="status" required>
            Selected day:&nbsp;
            <span>{{ sessionEndDate.value | date : 'EEEE' }}</span>
          </pdk-inset-text>
          }
        </pdk-form-field>
      </pdk-grid>
    </pdk-grid>
    <div class="scheduling-filters__form-actions">
      <button data-test-id="submit-filters" pdk-button pdk-margin-bottom="0">Search</button>
      <div pdk-margin-left="4">
        <a
          data-test-id="reset-filters"
          href="javascript:void(0)"
          pdk-link
          (click)="handleResetForm()"
          >Reset filters</a
        >
      </div>
    </div>
  </form>
</div>
