<div [formGroup]="estimateInputs" class="form-estimate">
  @if (weeksEnabled()) {
  <div class="form-group">
    <pdk-form-field label="Weeks" [errorMessages]="getErrors('weeks')">
      <input
        pdk-text-input
        #weeksInput
        [pdk-input]="2"
        [id]="id + '-weeks'"
        [ariaDescribedBy]="getAriaDescribedbyFor('weeks')"
        formControlName="weeks"
        type="text"
        name="estimateWeeks"
        pattern="[0-9]*"
        autocomplete="off"
        (focus)="handleFocusInput($event)"
        (blur)="handleBlurInput($event)"
      />
    </pdk-form-field>
  </div>
  } @if (daysEnabled()) {
  <div class="form-group">
    <pdk-form-field label="Days" [errorMessages]="getErrors('days')">
      <input
        pdk-text-input
        #daysInput
        [pdk-input]="2"
        [id]="id + '-days'"
        [ariaDescribedBy]="getAriaDescribedbyFor('days')"
        formControlName="days"
        type="text"
        name="estimateDays"
        pattern="[0-9]*"
        autocomplete="off"
        (focus)="handleFocusInput($event)"
        (blur)="handleBlurInput($event)"
      />
    </pdk-form-field>
  </div>
  } @if (hoursEnabled()) {
  <div class="form-group">
    <pdk-form-field label="Hours" [errorMessages]="getErrors('hours')">
      <input
        pdk-text-input
        #hoursInput
        [pdk-input]="2"
        [id]="id + '-hours'"
        [ariaDescribedBy]="getAriaDescribedbyFor('hours')"
        formControlName="hours"
        type="text"
        name="estimateHours"
        pattern="[0-9]*"
        autocomplete="off"
        (focus)="handleFocusInput($event)"
        (blur)="handleBlurInput($event)"
      />
    </pdk-form-field>
  </div>
  }

  <div class="form-group" [hidden]="minutesDisabled()">
    <pdk-form-field label="Minutes" [errorMessages]="getErrors('minutes')">
      <input
        pdk-text-input
        #minutesInput
        [pdk-input]="2"
        [id]="id + '-minutes'"
        [ariaDescribedBy]="getAriaDescribedbyFor('minutes')"
        formControlName="minutes"
        type="text"
        name="estimateMinutes"
        pattern="[0-9]*"
        autocomplete="off"
        (focus)="handleFocusInput($event)"
        (blur)="handleBlurInput($event)"
      />
    </pdk-form-field>
  </div>
</div>
